// ios content
.content-ios {

}

// android content
.content-android {

}

// OS specific headings
h1.content-android , h1.content-ios {
  margin-top: 8px;
}

// custom scrollbar
::-webkit-scrollbar {
  @include mq(sm) {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
  }
}
  
::-webkit-scrollbar-thumb {
  @include mq(sm) {  
    background-color: #0d6ce02d;
    border-radius: 30px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
}
  
::-webkit-scrollbar-track {
  @include mq(sm) {  
    background-color: transparent;
  }
}

body::-webkit-scrollbar-track {
  @include mq(lg) {  
    background-color: $sidebar-color;
  }
}
  
::-webkit-scrollbar-thumb:hover {
  @include mq(sm) {
    background-color: #0d6ce093;
  }
}


// left side-bar
.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    //flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    min-width: $nav-width;
  }
}

// header containing site title
// located in top left, above site navigation
.site-header {
  background-color: #1ab2c3;
}

// text located in site-header
.site-title {
  color: #FFFFFF;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  font-size: 18px !important;
}

// site navigation located in left side-bar
#site-nav{
  overflow-y: auto;
  height: 500px;
  padding-top: 0px;
  margin-top: 25px;

  @include mq(md) {
    height: 0;
  }
}



// table of contents side-bar
// not including platform selection feature located above
.toc {
  display:none;

  @include mq(lg) {
    display:block;
    position: fixed;
    right: 0;
    top: 60px;
    bottom: 0;
    width: $nav-width;
    background-color: $sidebar-color;
    border-left: $border $border-color;
    padding-top: 8px;
    padding-left: 0;
    padding-right: 12px;
    overflow-y: auto;
  }
}

// Local table of contents heading
.toc b {
  margin-left: 20px;
  font-size: 17px;
}

// table of contents list
.toc ul{
  list-style: none;
  padding-left: 20px;
}

// table of contents elements of sections that are currently visible on screen
// implementation of ScrollSpy-feature
.toc li.active > a {
  font-weight: 640;
}

// header above table of contents including platform selection feature
.platform_form {
  display:block;
  position: relative;

  @include mq(sm) {
    display: block;
    position: absolute;
    width: 172px;
    top: $header-height;
    left: calc(100% - 172px);
    margin-top: 12px;
  }  

  @include mq(md) {
    display: block;
    position: absolute;
    width: 185px;
    left: calc(100% - 185px);
  }

  @include mq(lg) {
    display:block;
    position: fixed;
    right: 0;
    top: 0;
    left: calc(100% - #{$nav-width});
    margin-top:0;
    width: $nav-width;
    height: 60px;
    padding-left: 0;
    background-color: $sidebar-color;
    border-bottom: $border $border-color;
    border-left: $border $border-color;
    line-height:60px;
  }
}

// Platform selection feature heading
.platform_form b {
  @include mq(lg) {
  margin-left: 20px;
  font-size: 17px;
  }
}



// main content
// including search and aux-link bar
.main {
@include mq(md) {
  position: relative;
  max-width: $content-width;
  margin-left: $nav-width-md;
}

@include mq(lg) {
  margin-left: $nav-width;
  margin-right: $nav-width;
}
}

// images and iframe videos in main content
.main img, iframe {
  border: 1px solid #000000;   
}

.main img {
  @include mq(sm) {
    min-width:325px;
  }
}

// iframe (YT video)
iframe {
  width:250px;
  height:140px;
  
  @include mq(xs) {
    width:320px;
    height:180px;
  }
  @include mq(sm) {
    width:500px;
    height:280px;
  }
  @include mq(md) {
    width:550px;
    height:310px;
  }
  @include mq(lg) {
    width:600px;
    height:340px;
  }
  @include mq(xl) {
    width:700px;
    height:395px;
  }
}


// hidden platform specific images
.hidden {
  display: none;
}

// aux-link in top-bar
.aux-nav {
  display:none;

  @include mq(md) {
    display:block;
  }
}
