
// left side-bar
// .side-bar on small screen
.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  // .side-bar on medium screen
  @include mq(md) {
    //flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  // .side-bar on large screen
  @include mq(lg) {
    min-width: $nav-width;
  }
}

// header containing site title
// located in top left, above site navigation
.site-header {
  background-color: #1ab2c3;
}

// text located in site-header
.site-title {
  color: #FFFFFF;
  font-size: 18px !important;
}

// site navigation located in left side-bar
// #site-nav on small screen
#site-nav{
  overflow-y: auto;
  height: 500px;
  padding-top: 0px;
  margin-top: 25px;
  
  // #site-nav on medium screen
  @include mq(md) {
    height: 0;
  }
}



// table of contents side-bar
// not including platform selection feature located above
// .toc on small screen
.toc {
  display:none;
  padding-left: 0;
  padding-right: 12px;
  right: 0;
  top: 60px;
  bottom: 0;
  overflow-y: auto;
  //margin-left: calc($nav-width-md + $content-width);
  background-color: $sidebar-color;

  // .toc on medium screen
  @include mq(md) {
    display:block;
    //flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: calc(100% - 60px);
    border-left: $border $border-color;
    padding-top: 8px;
  }

  // .toc on large screen
  @include mq(lg) {
    min-width: $nav-width;
  }
}

// Local table of contents heading
.toc b {
  margin-left: 20px;
  font-size: 17px;
}

// table of contents list
.toc ul{
  list-style: none;
  padding-left: 20px;
}

// table of contents elements of sections that are currently visible on screen
// implementation of ScrollSpy-feature
.toc li.active > a {
  font-weight: 640;
}

// header above table of contents including platform selection feature
// .platform_form on small screen
.platform_form {
  display:none;
  padding-left: 0;
  right: 0;
  top: 0;
  //margin-left: calc($nav-width-md + $content-width);
  background-color: $sidebar-color;

  // .platform_form on medium screen
  @include mq(md) {
    display:block;
    //flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 60px;
    border-bottom: $border $border-color;
    border-left: $border $border-color;
    line-height:60px;
  }

  // .platform_form on large screen
  @include mq(lg) {
    //width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}



// main content
// including search and aux-link bar
.main {
// .main on medium screen
@include mq(md) {
  position: relative;
  max-width: $content-width;
  margin-left: $nav-width-md;
  margin-right: $nav-width-md;
}

// .main on large screen
@include mq(lg) {
  margin-left: $nav-width;
  margin-right: $nav-width;
}
}

// images in main content
.main img {
  border: 1px solid #000000;   
}

// hidden platform specific images
.hidden {
  display: none;
}

// aux-link in top-bar
// .aux-nav on small screen
.aux-nav {
  display:none;

  // .aux-nav on medium screen
  @include mq(md) {
    display:block;
  }
}
